
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;

}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}


.nav-items > ul > li {
    padding: 10px;
    font-family:monospace ;
}
 
.logo {
    width: 90px;
    border-radius: 50%; 
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.card > h2, h3, h4 {
    font-family:monospace;
}

.res {
    display: flex;
    flex-wrap: wrap;
}

card-img {
  
    height: 200px;
}


.shimmer-card {
  width: 200px;
  height: 200px;
 background: lightgray;
 margin: 20px;
}

.menu {
    display: flex;
}

.instamart-div {
    border: 1px solid black;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 140px; 
    margin: 15px;
    font-size: 12px;
}