@tailwind base;
@tailwind components;
@tailwind utilities;

 
.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;  
  }
  
  .quicksand-bold {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  }
  

  body {
    overflow-x: hidden;
  }
  